.tomato {
    background-color: tomato;
    border: solid 1px black;
}

/* Grid */


.container-g {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}


.row-g {
    display: flex;
    width: 100%;
}

.col-12-g {
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 5px 5px 10px;

}

.col-11-g {
    width: 91.6666666%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 5px 5px 10px;
}

.col-10-g {
    width: 83.33333333%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 5px 5px 10px;
}

.col-9-g {
    width: 75%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 5px 5px 10px;
}

.col-8-g {
    width: 66.66666666666667%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 5px 5px 10px;
}

.col-7-g {
    width: 85.33333334;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 5px 5px 10px;
}

.col-6-g {
    width: 50%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 5px 5px 10px;
}

.col-5-g {
    width: 41.666%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 5px 5px 10px;
}

.col-4-g {
    width: 33.333%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 5px 5px 10px;
}

.col-3-g {
    width: 25%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 5px 5px 10px;
}

.col-2-g {
    width: 16.66666666667%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 5px 5px 10px;
}

.col-1-g {
    width: 8.333333%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 5px 5px 10px;
}



/* Google Fonts Includes */
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Fonts */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    word-wrap: break-word;
}

.small-g {
    font-size: .7em;
}

.big-g {
    font-size: 2em;
}